---
import Analytics from "../components/Analytics.astro";
import { AstroSeo } from "@astrolib/seo";
---

<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <AstroSeo 
      title="BuharTR - Steam'in Türkçesi"
      description="SSteam platformunu ve 10'dan fazla oyunu resmi olarak Türkçe'ye çeviren gönüllü topluluk."
      canonical="https://buhartr.com"
      openGraph={
        {
          url: "https://buhartr.com",
          title: "BuharTR - Steam'in Türkçesi",
          description: "Steam platformunu ve 10'dan fazla oyunu resmi olarak Türkçe'ye çeviren gönüllü topluluk.",
          images: [
            {
              url: "https://buhartr.com/buhartr-card.png",
              width: 1200,
              height: 675,
              alt: "BuharTR - Steam'in Türkçesi",
            },
          ],
        }
      }
      twitter={
        {
          handle: "@buhartr",
          site: "@site",
          cardType: "summary_large_image",
        }
      }
    />
    <meta name="theme-color" content="#000000" />
    <meta name="author" content="BuharTR" />
    <meta name="robots" content="all" />
    <link rel="sitemap" href="/sitemap.xml" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>BuharTR - Steam'in Türkçesi</title>
    <style>
      body {
        background-color: black;
        height: 100vh;
        margin: 0;
        position: relative;
        user-select: none;
        pointer-events: none;
      }

      #logo,
      #sixteen {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #logo {
        width: 400px;
        max-width: 65vw;
        height: auto;
      }

      #sixteen {
        color: white;
        font-size: min(5vw, 2rem);
        font-family: "Courier New", Courier, monospace;
        line-height: 1;
        animation: blink 1s infinite;
      }

      @keyframes blink {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 0.5;
        }
      }
    </style>
    <script>
      const sixteen = document.getElementById("sixteen");

      const countDownDate = new Date("Jan 1, 2025 00:00:00").getTime();

      const updateCountdown = () => {
        const distance = countDownDate - new Date().getTime();
        const totalSeconds = Math.max(0, Math.floor(distance / 1000));

        if (sixteen) {
          sixteen.textContent = totalSeconds.toString().padStart(7, "0");
        }

        if (distance < 0) {
          clearInterval(intervalId);
        }
      };

      const intervalId = setInterval(updateCountdown, 1000);

      updateCountdown();
    </script>
    <Analytics />
  </head>
  <body>
    <img id="logo" src="/buhartr.png" alt="BuharTR Logosu" />
    <span id="sixteen"></span>
  </body>
</html>
