---
import { CONFIG } from "@/config";
---

<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{CONFIG.seo.title}</title>
    <link rel="sitemap" href="/sitemap.xml" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <style>
      body {
        background-color: black;
        height: 100vh;
        margin: 0;
        position: relative;
        user-select: none;
        pointer-events: none;
      }

      #logo,
      #countdown {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #logo {
        width: 400px;
        max-width: 65vw;
        height: auto;
      }

      #countdown {
        color: white;
        font-size: min(5vw, 2rem);
        font-family: "Courier New", Courier, monospace;
        line-height: 1;
        animation: blink 1s infinite;
      }

      @keyframes blink {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 0.5;
        }
      }
    </style>
  </head>
  <body>
    <img id="logo" src="/buhartr.webp" alt="BuharTR Logosu" />
    <span id="countdown"></span>
    <script>
      const countdown = document.getElementById("countdown");

      const countDownDate = new Date("Jan 11, 2025 00:00:00").getTime();

      const updateCountdown = () => {
        const distance = countDownDate - new Date().getTime();
        const totalSeconds = Math.max(0, Math.floor(distance / 1000));

        if (countdown) {
          countdown.textContent = totalSeconds.toString().padStart(7, "0");
        }

        if (distance < 0) {
          clearInterval(intervalId);
        }
      };

      const intervalId = setInterval(updateCountdown, 1000);

      updateCountdown();
    </script>
  </body>
</html>
